<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xebia.training.retrofitembeddedkeystore">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".KeystoreApplication">

    </application>

</manifest>
